.about{
	&__main-body{
		width:calc(50% - #{$grid-space});
		padding-bottom:$text-padding-std;
		padding-right:5%;
		@include bp-minus($bp1){
			width:100%;
			padding-right:0;
		}
	}
	&__statement{
		@include text-body;
	}
	&__leadin{
		@include intro-text;
	}
	&__question{
		font-weight:$bold;
	}
	&__profile{
		width:25%;
		padding-right:$grid-space;
		@include bp-minus($bp1){
			width:100%;
		}
	}
	&__profile-pic{
		padding-bottom:$text-padding-std *2;
		img{
			width:100%;
			max-width:200px;
			height:auto;
			border-radius:50%;
		}
	}
	&__links{
		padding:$text-padding-std 0;
		@include bp-minus($bp1){
		}
		a{
			@include link-styled;
			@include bp-minus($bp1){
				display:block;
				padding-bottom:.5em;
			}
			&:last-of-type{
				padding-bottom:0;
			}
		}
		span{
			padding:0 1em;
			color:$black-lighten;
			text-decoration:none;
			@include bp-minus($bp1){
				display:none;
			}
		}
	}
	&__sidebar{
		width:25%;
		padding-left:$grid-space;
		@include bp-minus($bp1){
			width:100%;
		}
	}
	&__abilities{
		padding-bottom:1em;
		@include bp-minus($bp1){
			padding-left:0;
			width:100%;
		}
		ul{
			color:$color-brand;
			list-style-type:square;
			padding-left:1em;
			padding-bottom:1em;
			span{
				color:$black;
			}
		}
	}
	&__abilities-title{
		font-weight: $bold;
		padding-bottom:1em;
	}
	@keyframes show{
		0%{
			opacity:0;
			height:0;
		}
		50%{
			height:600px;
			opacity:0;
		}
		100%{
			opacity:1;
			height:600px;
		}
	}
	@keyframes hide{
		0%{
			opacity:1;
			height:525px;
		}
		50%{
			opacity:0;
			height:525px;
		}
		100%{
			height:0;
			opacity:0;
		}
	}
	@keyframes quoteshow{
		0%{
			opacity:0;
			height:0;
		}
		50%{
			opacity:0;
		}
		100%{
			opacity:1;
			height:200px;
		}
	}
	@keyframes quotehide{
		0%{
			opacity:1;
			height:200px;
		}
		50%{
			opacity:1;
		}
		100%{
			opacity:0;
			height:0;
		}
	}
	&__more{
		opacity:0;
		height:0;
		overflow:hidden;
		&--show{
			animation-name:show;
			animation-duration:1s;
			animation-fill-mode: forwards;
			animation-delay:0;
		}
		&--hide{
			animation-name:hide;
			animation-duration:1s;
			animation-fill-mode: backwards;
			animation-delay:0;
		}
	}
	&__quote{
		margin-top:1em;
		margin-bottom:1em;
		@include intro-text;
		position:relative;
		width:100%;
		opacity:0;
		height:0;
		span{
			width:100%;
			display:block;
			//@include text-underline($color-brand);
		}
		@include bp-minus($bp1){
			display:none;
		}
		&--show{
			animation-name:quoteshow;
			animation-duration:1s;
			animation-fill-mode: forwards;
			animation-delay:0;
		}
		&--hide{
			animation-name:quotehide;
			animation-duration:1s;
			animation-fill-mode: backwards;
			animation-delay:0;
		}
	}
	&__quotemark{
		position:absolute;
		top:-.4em;
		left:-52px;
		color:$color-brand;
		font-size:4em;
		padding-right:.2em;
		font-family:georgia, serif;
		display:inline-block;
	}




}