.gallery{
  ul{
    margin:0;
    padding:0;
    display:grid;
    grid-template-columns:repeat(4, calc( 25% - 2px ));
    grid-row-gap:2px;
    grid-column-gap:2px;
    width:100%;
    height:auto;
  }
  li{
    display:block;
    padding:0;
    margin:0;
    height:0;
    padding-bottom:100%;
    position:relative;
    list-style-type:none;
    width:100%;
    img{
      position:absolute;
      left:0;
      top:0;
      width:100%;
      height:auto;
      min-height:100%;
      cursor:pointer;
      object-fit:cover;
    }
    a{
    }
  }
  
  
  &__overlay{
    position:fixed;
    left:0;
    top:0;
    width:100vw;
    height:100vh;
    background-color:rgba(0,0,0,.5);
    display:flex;
    align-items:center;
    justify-content:center;
    transition:opacity .1s;
    &--visible{
      opacity:100;
      visibility:visible;
      z-index:11;
    }
    &--invisible{
      opacity:0;
      visibility:hidden;
    }
  }
  &__overlay-frame{
    position:relative;
    img{
      position:relative;
      width:100%;
      height:auto;
      max-width:60vw;
      user-select: none;
    }
  }
  &__next{
    position:absolute;
    right:30px;
    top:50%;
    width:40px;
    height:40px;
    border-radius:30px;
    background-color:rgba(255,255,255,.5);
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
    transition: background-color .3s;
    &:hover{
        background-color:white;
    }
    i{
        width:10px;
        height:10px;
    }
  }
  &__prev{
    position:absolute;
    left:30px;
    top:50%;
    width:40px;
    height:40px;
    border-radius:30px;
    background-color:rgba(255,255,255,.5);
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
    transition: background-color .3s;
    &:hover{
        background-color:white;
    }
    i{
        width:10px;
        height:10px;
    }
  }
  &__close{
    position:absolute;
    right:30px;
    top:30px;
    width:40px;
    height:40px;
    border-radius:30px;
    background-color:rgba(255,255,255,.5);
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
    transition: background-color .3s;
    &:hover{
        background-color:white;
    }
    i{
        width:10px;
        height:10px;
    }
  }
}