$grid-space:$text-padding-std /2;

.grid-work{
  background-color:$white;
  width:100%;
  display:flex;
  justify-content:center;
  padding-top:$grid-space;
  padding-left:$grid-space;
  padding-right:0;
  &__inner{
    width:100%;
    display:flex;
    flex-wrap:wrap;
    justify-content:flex-start;
    position:relative;
    @include bp-minus($bp1){
      flex-direction:column;
    }
  }
  &__item{
    width:20%;
    padding-right:$grid-space;
    padding-bottom:$grid-space;
    box-sizing:border-box;
    display:flex;
    flex-direction:column;
    @include bp-minus($bp1){
      width:100%;
    }
  }
  &__item-title{
    width:100%;
    min-height:6em;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:alt-bg;
  }
  &__item-image{
    cursor:pointer;
    width:100%;
    height:0;
    padding-bottom:calc(100% + #{$grid-space});
    position:relative;
    overflow:hidden;
    img{
      position:absolute;
      left:0;
      top:0;
      width:100%;
      height:auto;
      min-height:100%;
      cursor:pointer;
      object-fit:cover;
    }
  }
  &__item-text{
    padding:1.6em;
    p, ul, ol{
      font-size:1.4rem;
      line-height:2.4rem;
      margin-bottom:1.4em;
    }
  }
  &__item-panel{
    height:0;
  }
  &__item-panel-extend{
    position:absolute;
    left:0;
    top:auto;
    width:100%;
    height:inherit;
    @include bp-minus($bp1){
      position:relative;
    }
  }
  &__item-panel-inner{
    padding:$grid-space 0;
    visibility:hidden;
    opacity:0;
    transition:opacity .4s, visibility .4s;
    @include bp-minus($bp1){
      padding-bottom:$grid-space*2;
    }
  }
  &__item-panel-content{
    width:100%;
    @include bp-plus($bp2){
      width:75%;
      margin-left:25%;
    }
  }
}





