.intro{
	@include align-left;
	position:relative;
	padding-top:$text-padding-std*4;
	padding-bottom:$text-padding-std*4;
	@include bp($bp1){
		box-sizing:content-box;
		height:auto;
		//padding-bottom:0;
	}
	&__title{
		display:block;
		text-align:center;
		@include text-page-title;
		margin-bottom:$text-padding-std;
	}
	&__inner{
		width:100%;
		margin:0 auto;
		@include bp($bp1){
			width:70%;
		}
	}
	&__statement{
		color:$black;
	  p{
	  	@include text-leadin-large;
	  	text-align:center;
	    margin-bottom:$text-padding-std;
	    &:last-of-type{
	    	margin-bottom:0;
	    }
	  }
	}
	&__down-icon{
		color:$black;
		width:80px;
		height:80px;
	}
	&__links{
		padding-top:$text-padding-std;
	  text-align:center;
	  p{
	    line-height: 1.4;
	  }

		@include bp-minus($bp1){
		}
		a{
			@include link-styled;
			@include bp-minus($bp1){
				display:block;
				padding-bottom:.5em;
			}
			&:last-of-type{
				padding-bottom:0;
			}
		}
		span{
			padding:0 1em;
			color:$black-lighten;
			text-decoration:none;
			@include bp-minus($bp1){
				display:none;
			}
		}
	}
	&__statement-cta{
		@include text-underline($color-brand);
	}
}