.menu{
	position:fixed;
	width:100vw;
	height:calc( 100vh - #{$header-height} );
	background-color:$white;
	visibility:hidden;
	opacity:0;
	transition:all, .2s;
	&.visible{
		visibility:visible;
		opacity:1;
	}
}

.main-menu{
	height:calc( 100vh - #{$header-height} );
	width:100%;
	position:relative;
	@include col-std(50%);
	@include align-left;
	&__list{
		display:block;
		width:100%;
		li{
			padding:0;
			margin:0;
			font-weight:$bold;
			@include bp-minus($bp2){
				margin-top:.8em;
				margin-bottom:.8em;
			}
			&:first-of-type{
				margin-bottom:2em;
			}
			a{
				@include bp($bp1){
					font-size:2em;
				}
				@include text-underline($color-brand);
			}
		}
	}
}