.project-about{
    width:calc(75% - #{$grid-space});
    @include bp-minus($bp2){
        width:calc(100% - #{$grid-space});
        margin-left:0;
    }
    @include bp-minus($bp1){
        width:100%;
    }
    &__metadata{
    }
    &__title{
        @include text-display(2em);
        padding-bottom:1em;
        a{
            @include text-underline($color-brand);
        }
    }
    &__intro{
        //padding-bottom:$text-padding-std;
        font-weight:$bold;
    }
    &__client{
        padding-bottom:$text-padding-std;
        font-weight:$bold;
        //@include text-tiny;
    }
    &__description{
        @include text-body;
        padding-bottom:$text-padding-std;
    }
}