.project-about{
    width:calc(66.66% - #{$grid-space});
    @include bp-minus($bp2){
        width:calc(100% - #{$grid-space});
        margin-left:0;
    }
    @include bp-minus($bp1){
        width:100%;
    }
    &__intro{
        padding-bottom:1.5em;
        @include text-leadin-large;
    }
    &__description{
        @include text-body;
    }
}