.work-item{
	&__head{
		width:100%;
		display:flex;
		justify-content: flex-start;
	}
	&__banner{
		width:100%;
		height:400px;
		@include bp($bp1){
			height:calc(90vh - 60px);
		}
		img{
			width:100%;
			height:100%;
			object-fit:cover;
			&.left-top{
				object-position:0 0;
			}
			&.left-center{
				object-position:0 50%;
			}
			&.left-bottom{
				object-position:0 100%;
			}
			&.center-top{
				object-position:50% 0;
			}
			&.center-center{
				object-position:50% 50%;
			}
			&.center-bottom{
				object-position:50% 100%;
			}
			&.right-top{
				object-position:100% 0;
			}
			&.right-center{
				object-position:100% 50%;
			}
			&.right-bottom{
				object-position:100% 100%;
			}
		}
	}
	&__title{
		&.image{
		}
		border-top:$border-feint;
		padding-top:$text-padding-std*2;
		padding-bottom:$text-padding-std*3;
		height:auto;
		padding-top:$text-padding-std;
		padding-bottom:$text-padding-std;
		@include bp($bp1){
			display:flex;
			height:10vh;
			padding:0;
		}
        background-color:$white;
    }
    &__title-inner{
    	@include col-std(75%);
    }
    &__title-main{
        @include text-display(2em);
        display:inline-block;
    }
    &__title-client{
        @include text-display(2em);
        color:rgba($black,.4);
    }
	&__main{
		width:100%;
		img{
			width:100%;
			height:auto;
			max-width:1500px;
			margin:$text-padding-std*3 0;
			@include bp-minus($bp1){
				margin:$text-padding-std 0;
			}
			&:first-of-type{
				margin-top:0;
			}
			&:last-of-type{
				@include bp($bp1){
					margin-bottom:$text-padding-std*6;
				}
			}
		}
	}
	&__main-snippet{
		padding-top:$text-padding-std*2;
		padding-bottom:$text-padding-std*3;
		width:100%;
		@include col-std(50%);
		@include text-body;
		p{
			&:last-of-type{
				margin-bottom:0;
			}
		}
	}
	&__about{
		padding-top:$text-padding-std*2;
		padding-bottom:$text-padding-std*3;
		@include col-std(75%);
	}
	&__image-inner{
		cursor:pointer;
		width:100%;
		height:0;
		padding-bottom:calc(100% + #{$grid-space});
		position:relative;
		overflow:hidden;
		img{
			position:absolute;
			left:0;
			top:0;
			width:100%;
			height:auto;
			min-height:100%;
			cursor:pointer;
			object-fit:cover;
		}
	}
	&--white{
		.work-item__title{
			background-color:#f2f2f2;
		}
		.panel-work-item-head, .panel-work-item-main{
			background-color:$white;
		}
	}
	&--gray{
		.work-item__title{
			background-color:$white;
		}
		.panel-work-item-head, .panel-work-item-main{
			background-color:#f2f2f2;
		}
	}

}