---
layout: work-item-layout
permalink: 28-chancery-lane
title: 28 Chancery Lane
bgcolor: gray2
client: Stepladder
intro: Web app template and component build
banner-image: "chancery-banner.jpg"
banner-image-alt: St James&rsquo;s Square local area signage
banner-image-position: top-center
next-item-name: Digital Advertising
next-item-link: digital-advertising
description: |
  <p>Advertising agency Recipe wanted to create a space for businesses looking for digital advertising to find suppliers, and those suppliers to find customers.</p>
  <p>We built a web app that provides comparison of price and other metrics matching customers with suppliers suited to their needs. At the same time allowing suppliers to create profiles where they can advertise their offerings.</p>
  <p>I worked with the visual designer, developer and project owner to define user journeys, refine UI elements and build initial prototypes. I also built the basic UI pattern library and CSS structure using BEM.</p>
---


{% include content-image.html filename="chancery-home.jpg" alt="homepage" %}

{% include content-image.html filename="chancery-devices-1.jpg" alt="as it looks on devices" %}

<div class='work-item__main-snippet'>
  <p>
    28 Chancery Lane is a beautifully refurbished office and retail space.
  </p>
</div>

{% include content-image.html filename="chancery-desktop-3.jpg" alt="Interior gallery component" %}

{% include content-image.html filename="chancery-desktop-1.jpg" alt="Local area images" %}

<div class='work-item__main-snippet'>
  <p>
    The 28 Chancery Lane project doesn&rsquo;t just focus on the building, but also the area of Holborn recently coined as 'Midtown'.
  </p>
  <p>
    The vibrancy of the area is something the client wanted us to capture in the project, and most definitely in the website. This is done by including a section profiling people who live and work in Midtown.
  </p>
</div>

{% include content-image.html filename="chancery-desktop-2.jpg" alt="Midtown originals banner" %}
{% include content-image.html filename="chancery-desktop-5.jpg" alt="Group shot of people who work in midtown" %}
{% include content-image.html filename="chancery-devices-2.jpg" alt="as it looks on devices" %}
{% include content-image.html filename="chancery-desktop-4.jpg" alt="Interactive map" %}