---
layout: work-item-layout
permalink: 3-st-james-square
title: 3 St James&rsquo;s Square
bgcolor: gray
client: Stepladder
intro: Website build on premium office development in St James&rsquo;s, London
banner-image: sjs-banner.jpg
banner-image-alt: Brick wall and some pipes in local area
banner-image-position: center
description: |
  <p>
    At Stepladder, I worked with graphic designer Elena Manfredi who also developed the brand and printed material to produce this beautiful monotone website for the prime office development in London, 3 St James&rsquo;s Square.
  </p>
next-item-name: The Columbus Building
next-item-link: the-columbus-building
---


{% include content-image.html filename = "sjs-home.jpg" alt="homepage" %}

{% include content-devices.html filename="sjs-devices-1" alt="Devices view" %}

{% include content-image.html filename = "sjs-birch.jpg" alt="Birch trees" %}
<div class='work-item__main-snippet'>
  <p>
    The black and white branding reflects the use of European Birch used in the building reception area.
  </p>
</div>

{% include content-image.html filename = "sjs-desktop-1.jpg" alt="building page" %}

{% include content-image.html filename = "sjs-desktop-2.jpg" alt="gallery page" %}

{% include content-devices.html filename="sjs-devices-2" alt="Devices view" %}

{% include content-image.html filename = "sjs-desktop-3.jpg" alt="plans page" %}