---
layout: work-item-layout
permalink: apartments-for-london
title: Apartments for London
bgcolor: gray
client: Siren
intro: Marketing website design for Apartments for London. A startup which plans to build affordable modular apartments in London
banner-image: false
description: |
  <p>The company were anxious to move on from their previous website which was nothing more than a modified WordPress theme, and did nothing to shake the negative stereotypes of badly built prefabs. They wanted a website to reflect the socially and environmentally sound modular apartments which provide affordable rentals for public sector workers and young professionals.</p>
next-item-name: Indigo Trust
next-item-link: indigo-trust
---

{% include content-image.html filename = "afl-desktop-1.jpg" alt="Homepage" %}
<div class='work-item__main-snippet'>
  <p>
    There was a number of key points that the client wanted to emphasise about the modular housing philosophy. Mainly to provide truly affordable and good quality rental accommodation for public sector workers young professionals. 
  </p>
</div>
{% include content-image.html filename = "afl-desktop-2.jpg" alt="Homepage" %}
<div class='work-item__main-snippet'>
  <p>
    Also the ethical properties of this type of housing. Fast delivery, efficient construction and optimal materials used providing impressive environmental performance.
  </p>
</div>
{% include content-image.html filename = "afl-desktop-3.jpg" alt="News article" %}
<div class='work-item__main-snippet'>
  <p>
    The website is divided sectioned into two key areas – about the company and about the apartments themselves with CGI images and specifications. Also there is a news section and contact us.
  </p>
</div>
{% include content-image.html filename = "afl-desktop-4.jpg" alt="News article" %}