---
layout: work-item-layout
permalink: croydon-pride
title: Croydon Pride
bgcolor: gray
client: Fat Beehive
intro: Website design for Croydon Pridefest
banner-image: false
description: |
  <p>
    Croydon Pridefest is the second biggest Pride event in London. The 2019 event attracted 10,000 people to Wandle park on Saturday 13th July.
  </p>
  <p>
    I designed the responsive website and built the templates in Twig before handing over to the developers for the production build.
  </p>
next-item-name: Become a Freelancer
next-item-link: become-a-freelancer
---


{% include content-image.html filename="cp-desktop-1.jpg" alt="Croydon Pride homepage" %}

{% include content-devices.html filename="cp-devices-1" alt="Devices view" %}

{% include content-devices.html filename="cp-devices-2" alt="Devices view" reverse="true" %}