---
layout: work-item-layout
permalink: data-visualization-tips
title: Data Visualization Tips
bgcolor: gray
client: Helpful Digital
intro: Landing page design and build for Data Visualization campaign
description: |
  <p>
      At Geckoboard, the resident data science writer, Aspasia wanted to create a campaign to help educate designers about how to present data the proper way, and the pitfalls to avoid that could misrepresent data.
    </p>
    <p>
      The campaign took the form of a poster, individual cards, social media posts and the landing page. I worked in tandem with the in-house web designer in the design and build.
    </p>
    <p>
      We commissioned talented illustrator Eve Lloyd Knight to produce the graphics.
    </p>
next-item-name: The center of Happiness
next-item-link: the-center-of-happiness
---


{% include content-image.html filename="data-viz-home.png" alt="data-visualization landing page" %}

{% include content-devices.html filename="data-viz-devices-1" alt="Devices view" %}