---
layout: work-item-layout
permalink: digital-advertising
title: Digital Advertising
bgcolor: white
client: Recipe
intro: Web app template and component build
banner-image: false
description: |
  <p>Advertising agency Recipe wanted to create a space for businesses looking for digital advertising to find suppliers, and those suppliers to find customers.</p>
  <p>We built a web app that provides comparison of price and other metrics matching customers with suppliers suited to their needs. At the same time allowing suppliers to create profiles where they can advertise their offerings.</p>
  <p>I worked with the visual designer, developer and project owner to define user journeys, refine UI elements and build initial prototypes. I also built the basic UI pattern library and CSS structure using BEM.</p>
next-item-name: Apartments for London
next-item-link: apartments-for-london
---

{% include content-image.html filename = "da-homepage.jpg" alt="Homepage" %}

<div class='work-item__main-snippet'>
  <p>
    The main call to action on the homepage is a series of questions that direct users to the content they need. Firstly, whether they are an advertiser or supplier. Subsequent questions filter the results which are presented on the results page.
  </p>
</div>

{% include content-image.html filename = "da-desktop-1.jpg" alt="homepage" %}

<div class='work-item__main-snippet'>
  <p>
    The results listing allows advertisers to select suppliers and compare their offerings, as you can see below.
  </p>
</div>

{% include content-image.html filename = "da-desktop-2.jpg" alt="Screenshots showing results listing" %}

<div class='work-item__main-snippet'>
  <p>
    Another section of the site is Insights where contributors can publish case studies and blog posts. There is also an extensive glossary explaining all the marketing and advertising terms you will come across.
  </p>
</div>

{% include content-devices.html filename="da-devices-1" alt="Devices view" %}