---
layout: work-item-layout
permalink: located
title: LocatED
bgcolor: gray
client: Helpful Digital
intro: Website design and build for LocatED, so-called 'Britains biggest property start-up'
banner-image: false
description: |
  <p>
    LocatED is a government owned property company tasked with finding sites for 500 new free schools by 2020.
  </p>
  <p>
    Our client the Department for Education wanted the site to provide public facing information and transparency and to market the company to landowners looking to sell their property. Strict brand guidelines were provided for us to adhere to.
  </p>
next-item-name: 3 St James's Square
next-item-link: 3-st-james-square
---

{% include content-image.html filename="located-home.jpg" alt="homepage" %}

<div class='work-item__main-snippet'>
  <p>
    The main call to action on the homepage is a series of questions that direct users to the content they need. Firstly, whether they are an advertiser or supplier. Subsequent questions filter the results which are presented on the results page.
  </p>
</div>

{% include content-devices.html filename="located-devices-1" alt="Devices view" %}


<div class='work-item__main-snippet'>
  <p>
    The results listing allows advertisers to select suppliers and compare their offerings, as you can see below.
  </p>
</div>

{% include content-image.html filename="located-desktop-1.jpg" alt="homepage" %}




<div class='work-item__main-snippet'>
  <p>
    Another section of the site is Insights where contributors can publish case studies and blog posts. There is also an extensive glossary explaining all the marketing and advertising terms you will come across.
  </p>
</div>

{% include content-image.html filename="located-desktop-2.jpg" alt="building page" %}