---
layout: work-item-layout
permalink: the-columbus-building
title: Columbus Building
bgcolor: gray2
client: Stepladder
intro: Website build for Canary Wharf development, The Columbus Building
description: |
  <p>
    Canary Wharf Group were looking for a less corporate and more contemporary and stylish approach to the branding of the Columbus Building as part of their campaign to attract tech and media companies to the estate.
  </p>
  <p>
    We did this in a number of ways, focussing on attractive and stimulating parts of the environment such as the abundance of water, local amenities and art installations.
  </p>
next-item-name: Salesforce Tower
next-item-link: salesforce-tower
---

{% include content-image.html filename="columbus-homepage.jpg" alt="homepage" %}

<div class='work-item__main-snippet'>
  <p>
    The local environment with its open spaces, amenities and art installations foster a unique lifestyle for workers in and around Canary Wharf.
  </p>
</div>

{% include content-image.html filename="columbus-desktop-1.jpg" alt="homepage" %}

<div class='work-item__main-snippet'>
  <p>
    We commissioned an illustration of the estate to serve as a local area guide.
  </p>
</div>

{% include content-image.html filename="columbus-devices-1.jpg" alt="lifestyle page" %}

<div class='work-item__main-snippet'>
  <p>
    Interactive map detailing the travel times from specific stations via river, rail and underground.
  </p>
</div>

{% include content-image.html filename="columbus-desktop-2.jpg" alt="Interactive map of transport connections" %}