---
layout: work-item-layout
permalink: the-center-of-happiness
title: The Center of Happiness
bgcolor: gray
client: Geckoboard
intro: Design and build of Customer Service guide microsite
description: |
  <p>
    The Center of Happiness is a collection of articles written by the customer service professionals at Geckoboard and collaborators including Matt Dixon who is a big leader in the field.
  </p>
  <p>
    The idea is to have the guides collected in a micro-site. And to share them with customer service teams to establish Geckoboard as a thought leader in customer service.
  </p>
next-item-name: Located
next-item-link: located
---

{% include content-image.html filename="center-of-happiness-home.jpg" alt="Center of Happiness homepage" %}

<div class='work-item__main-snippet'>
  <p>
    The first three articles in the guide talk about three stages of a customer support team development. The first is &lsquo;Firefighting&rsquo;, which is the daily battle to get on top of tickets, the second is &lsquo;Levelling up&rsquo; &mdash; where you can start to introduce innovative ways of streamlining support, the third is &lsquo;Above and Beyong&rsquo; where the team is in control and you can really take things to the next level.
  </p>
  <p>
    These three stages had to be differentiated from the advice articles in hierarchy, and had to show progression amongst themselves. I decided to use two different colourways for the two categories. And use chevrons to show progression.
  </p>
</div>

{% include content-image.html filename="center-of-happiness-desktop-1.jpg" alt="homepage" %}

<div class='work-item__main-snippet'>
  <p>
    As some of the articles was pretty long, I re-used the internal navigation sidebar component that allows navigation between sections of the article.
  </p>
</div>

{% include content-devices.html filename="center-of-happiness-devices-1" alt="Devices view" %}