{% if page.layout == 'home' %}

   
{% include grid-item.html
	image="thumbs-chancery.jpg"
	image-alt="Bicycle in front of shop"
	title="28 Chancery Lane"
	intro="Website design and build for contemporary Midtown office and retail development 28 Chancery Lane."
	client="Stepladder"
	link="28-chancery-lane.html"
	description="
		<p>
			I partnered on the design and developed the website for 28 Chancery Lane. The website markets the floors of the building, and the lifestyle of the local area.
		</p>
	"
%}

{% else %}

{% include work-item.html
	bgcolor="inherit"
	title="28 Chancery Lane"
	intro="Website design and build for contemporary Midtown office and retail development 28 Chancery Lane."
	client="Stepladder"
	description="
		<p>
			I partnered on the design and developed the website for 28 Chancery Lane. The website markets the floors of the building, and the lifestyle of the local area.
		</p>
	"
	banner-image="chancery-banner.jpg"
	banner-image-alt="St James&rsquo;s Square local area signage"
	banner-image-position="top center"
	content-main="
		<img src='/assets/images/projects/chancery-home.jpg' alt='homepage' />
		<img src='/assets/images/projects/chancery-devices-1.jpg' alt='as it looks on devices' />
		<div class='work-item__main-snippet'>
			<p>
				28 Chancery Lane is a beautifully refurbished office and retail space.
			</p>
		</div>
		<img src='/assets/images/projects/chancery-desktop-3.jpg' alt='Interior gallery component' />
		<img src='/assets/images/projects/chancery-desktop-1.jpg' alt='Local area images' />
		<div class='work-item__main-snippet'>
			<p>
				The 28 Chancery Lane project doesn&rsquo;t just focus on the building, but also the area of Holborn recently coined as 'Midtown'.
			</p>
			<p>
				The vibrancy of the area is something the client wanted us to capture in the project, and most definitely in the website. This is done by including a section profiling people who live and work in Midtown.
			</p>
		</div>
		<img src='/assets/images/projects/chancery-desktop-2.jpg' alt='Midtown originals banner' />
		<img src='/assets/images/projects/chancery-desktop-5.jpg' alt='Group shot of people who work in midtown' />
		<img src='/assets/images/projects/chancery-devices-2.jpg' alt='as it looks on devices' />
		<img src='/assets/images/projects/chancery-desktop-4.jpg' alt='Interactive map' />
	"
	next-item-link="<a href='3-st-james-square.html'>3 St james's Square</a>"
%}

{% endif %}

