{% if page.layout == 'home' %}
   
{% include grid-item.html
	image="thumbs-columbus.jpg"
	image-alt="Aerial view of boat travelling on river"
	title="Columbus Building"
	intro="Website build for Canary Wharf development, The Columbus Building."
	client="Stepladder"
	link="columbus-building.html"
	description="
	<p>
		Canary Wharf Group were looking for a less corporate and more contemporary and stylish approach to the branding of the Columbus Building as part of their campaign to attract tech and media companies to the estate.
	</p>
	<p>
		We did this in a number of ways, focussing on attractive and stimulating parts of the environment such as the abundance of water, local amenities and art installations.
	</p>
	"
%}

{% else %}

{% include work-item.html
	bgcolor="inherit"
	title="Columbus Building"
	intro="Website build for Canary Wharf development, The Columbus Building."
	client="Stepladder"
	link="columbus-building.html"
	banner-image="columbus-banner.jpg"
	banner-image-alt="Aerial view of boat travelling along river"
	description="
	<p>
		Canary Wharf Group were looking for a less corporate and more contemporary and stylish approach to the branding of the Columbus Building as part of their campaign to attract tech and media companies to the estate.
	</p>
	<p>
		We did this in a number of ways, focussing on attractive and stimulating parts of the environment such as the abundance of water, local amenities and art installations.
	</p>
	"
	content-main="
		<img src='/assets/images/projects/columbus-homepage.jpg' alt='homepage' />
		<div class='work-item__main-snippet'>
			<p>
				The local environment with its open spaces, amenities and art installations foster a unique lifestyle for workers in and around Canary Wharf.
			</p>
		</div>
		<img src='/assets/images/projects/columbus-desktop-1.jpg' alt='homepage' />
		<div class='work-item__main-snippet'>
			<p>
				We commissioned an illustration of the estate to serve as a local area guide.
			</p>
		</div>
		<img src='/assets/images/projects/columbus-devices-1.jpg' alt='lifestyle page' />
		<div class='work-item__main-snippet'>
			<p>
				Interactive map detailing the travel times from specific stations via river, rail and underground.
			</p>
		</div>
		<img src='/assets/images/projects/columbus-desktop-2.jpg' alt='Interactive map of transport connections' />
	"
	next-item-link="<a href='indigo-trust.html'>Indigo Trust</a>"
%}

{% endif %}

