<div class="job__gallery">
				<script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
				<div class="cp gallery">
				    <ul>
				        <li class="gallery-li" tabindex = "0">
				              <a href="https://placeimg.com/640/480/animals">
				                <img src="https://placeimg.com/640/480/animals" alt="Architecture" />
				            </a>
				        </li>
				        <li class="gallery-li" tabindex = "0">
				            <a href="https://placeimg.com/640/480/animals">
				                <img src="https://placeimg.com/640/480/animals" alt="Architecture" />
				            </a>
				        </li>
				        <li class="gallery-li" tabindex = "0">
				            <a href="https://placeimg.com/640/480/animals">
				                <img src="https://placeimg.com/640/480/animals" alt="Architecture" />
				            </a>
				        </li>
				        <li class="gallery-li" tabindex = "0">
				            <a href="https://placeimg.com/640/480/animals">
				                <img src="https://placeimg.com/640/480/animals" alt="Architecture" />
				            </a>
				        </li>
				    </ul>
				    <div class="gallery__overlay gallery__overlay--invisible">
				        <div class="gallery__overlay-frame">
				            <img src="" />
				            <div class="gallery__close">
				                <i class="fas fa-times"></i>
				            </div>
				            <div class="gallery__next">
				                <i class="fas fa-angle-right"></i>
				            </div>
				            <div class="gallery__prev">
				                <i class="fas fa-angle-left"></i>
				            </div>
				        </div>
				    </div>
				</div>
			</div>