<section id="career" class="panel panel-progress" role="contentinfo" aria-label="Career progress">

	<div class="panel__inner">

		<div class="row">
			<h3 class="panel__inside-title">Career progress</h3>
		</div>

		<div class="row">
			<div class="cp progress">
				<div class="progress__line-outer">
					<div class="progress__line">
					</div>
				</div>
				<div class="progress__items">
				</div>
			</div>
		</div>


		<div class="row jobs">

			{% include job.html
			nameslug = 'mina'
			company='Mina'
			role='Visual designer and developer'
			logo='<img style="max-width:152px" src="/assets/images/companies/logo-mina.png" alt="Mina logo" />'
			dates='2011 &mdash; 2013'
			content='<p class="job__intro">Mina is a womens fashion brand mainly serving European and Asian markets. Mina designs, manufactures and sells print-focussed pieces for all seasons.</p>
			<p>Mina was my first web design job in the big smoke. I joined the team to create graphics for the homepage, landing pages and social media aswell as designing and developing email marketing campaigns.</p>
			<p>Another part of my job was designing lookbooks for online publishing and print. And photo retouching after photoshoots.</p>
			<p>When the lead developer left I took on the job of rebuilding the website using an outsourced e-commerce solution. The new site resulted in a notable rise in conversion rates.</p>
			<p>The job gave me an interesting insight into the frantic and unpredictable world of fashion, and what it&rsquo;s like working in-house in a busy creative studio.</p>
			'
			chartlabels='
				["Design", "Development", "Retouching", "Print"]
			'
			chartdata='
				[50, 20, 20, 10]
			'

			tasks='
				<li><span>Design homepage and landing page graphics</span></li>
				<li><span>Social media and print promotional material</span></li>
				<li><span>Photo retouching after photoshoots</span></li>
				<li><span>Design and artworking Lookbooks</span></li>
				<li><span>Design and development of blog site</span></li>
				<li><span>Design and development of ecommerce website</span></li>
				'
			%}






			{% include job.html
			nameslug='stepladder'
			company='Stepladder'
			role='Designer/Developer'
			logo='<img src="/assets/images/companies/logo-stepladder.png" alt="Stepladder logo" />'
			dates='2013 &mdash; 2015'
			content='<p class="job__intro">Stepladder is a branding agency for the premium commercial property market.</p>
			<p>Collaborating with a team of talented designers, I worked on the design and build of several property websites.</p>
			<p>
				As part of wider marketing campaigns to let out floor space in premium properties, the approach for the websites were often very much about telling the story of the buildings, the amenities of the local areas, and the companies already setup there. The brands and messages had to follow through into the websites through slick visuals and interactive maps and floor plans.
			</p>
				I was involved in the design of some of the websites I worked on, but being the sole in-house developer, for most projects I was busy coding the sites which were mainly static as there was no need for regular content updates. I also worked on email marketing campaigns.
			</p>'
			chartlabels='
				["Design", "Development"]
			'
			chartdata='
				[25, 75]
			'
			tasks='
				<li><span>Designing marketing websites</span></li>
				<li><span>Developing templates and bespoke builds</span></li>
				<li><span>Designing and developing interactive maps and floorplans</span></li>
				<li><span>Designing UI elements</span></li>
				<li><span>Developing marketing emails</span></li>
				'
			%}





			{% include job.html
			nameslug='helpful'
			company='Helpful'
			role='Interface designer/developer (Freelance)'
			logo='<img src="/assets/images/companies/logo-helpful.png" alt="Helpful logo" />'
			dates='2016'
			content='<p class="job__intro">Helpful Digital is a small agency which builds websites and apps mainly for government backed projects, charities and funds. Helpful has a sister company called Social Simulator which is a platform that allows companies to practice their social media response in the event of a crisis.</p>
			<p>I worked primarily for Helpful, designing, building, usability testing and providing ongoing support for several websites including a government backed property developer who are tasked with finding sites for new schools, and a trust which grants funds for tech start-ups in sub-Saharan Africa. Helpful use WordPress extensively to build their sites, and through this job I gained a deep understanding of WordPress and Bootstrap.</p>
			<p>The nature of the work I did for Social Simulator could be described as unconventional. Building quick and dirty templates for German news websites, photoshopping near-apocalytic scenarios of motorway pile-ups and dam collapses aswell as a cuddly toy with acid leaking out of it&rsquo;s battery casing. All good fun.
			</p>'
			chartlabels='
				["Design", "Development", "client services"]
			'
			chartdata='
				[38, 42, 20]
			'

			tasks='
				<li><span>Designing and developing templates and components</span></li>
				<li><span>WordPress builds</span></li>
				<li><span>Designing and building Social Simulator interfaces</span></li>
				<li><span>Client support via Zendesk</span></li>
				'
			%}




			{% include job.html
			nameslug='shelter'
			company='Shelter'
			role='Developer (Freelance)'
			logo='<img src="/assets/images/companies/logo-shelter.png" alt="Shelter logo" />'
			dates='2017'
			content='
			<p class="job__intro">
				Shelter is a charity that works to end homelessness and bad housing situations in England and Scotland.
			</p>
			<p>
				They provide support for individuals aswell as lobby the government on housing issues. Their fundraising activities range from hosting events such as Urban Rush and Vertical Rush, sponsoring participants in marathons and other sporting activities to running charity shops all over the country.
			</p>
			<p>
				It&rsquo;s no surprise then that the Shelter website bears within quite a variety of content. Landing pages for events, promotions and shops aswell as a vast library of support articles and resources.
			</p>
			<p>
				I was taken on to build landing pages using the CMS called Squiz Matrix. I also built fundraising emails using Adestra aswell as automated emails and the automation journeys for each campaign. On top of that, I was part of the team involved in the CSS refactoring of the project from the pure CSS to a modular structure using SASS and BEM. And the reworking of content from the legacy into the new template.
			</p>
			'
			chartlabels='
				["Design", "Development", "other"]
			'
			chartdata='
				[5, 85, 10]
			'
			tasks='
				<li><span>Build and update fundraising and event landing pages</span></li>
				<li><span>Build marketing emails</span></li>
				<li><span>Administer automated email campaign journeys</span></li>
				<li><span>CSS refactoring</span></li>
				'
			%}



			{% include job.html
			nameslug='siren'
			company='Siren'
			role='Web designer (Freelance)'
			logo='<img src="/assets/images/companies/logo-siren.png" alt="Siren logo" />'
			dates='2018'
			content='
			<p class="job__intro">
				Siren is a branding agency working mainly within the property sector for clients worldwide.
			</p>
			<p>
				I designed the website for a startup which plans to build affordable modular apartments in London.
			</p>
			<p>
				The company were anxious to move on from their previous website which was nothing more than a modified WordPress theme, and did nothing to shake the negative stereotypes of badly built prefabs. They wanted a website to reflect the socially and environmentally sound modular apartments which provide affordable rentals for public sector workers and young professionals.
			</p>
			<p>
				With that in mind, and working within pretty loose constraints in terms of branding, I designed the visual language of the website &mdash; color scheme, graphical elements and content hierarchy. And designed the pages and components ready for the developer to build.
			</p>
			'
			chartlabels=' 
				["Design"]
			'
			chartdata='
				[100]
			'
			tasks='
				<li><span>Designing pages, UI elements, graphics and components</span></li>
				'
			%}






			{% include job.html
			nameslug='recipe'
			company='Recipe'
			role='Developer (Freelance)'
			logo='<img src="/assets/images/companies/logo-recipe.png" alt="Recipe logo" />'
			dates='2018'
			content='
			<p class="job__intro">
				Recipe are an award-winning creative/advertising agency mainly focussing on online video and live broadcast advertising.
			</p>
			<p>
				One of the directors had the idea of creating a web app which provides price comparison for businesses looking for digital advertising. The idea is that both suppliers and customers can log on &mdash; the former to list their services and create a profile, and the latter to view comparisons between suppliers for the type of advertising they are looking for.
			</p>
			<p>
				My main involvement in this interesting project was working with the product owner, back-end developer and graphic designer to translate her designs into a collection of templates and components. I was also involved in discussions around the content strategy, user journeys and the ways of incentivising businesses to pay for a premium profile. The design and development took an iterative approach throughout the design and front-end build.
			</p>
			'
			chartlabels='
				["Design", "Development"]
			'
			chartdata='
				[20, 80]
			'
			tasks='
				<li><span>Advising on UX</span></li>
				<li><span>Developing templates and components</span></li>
				'
			%}



			{% include job.html
			nameslug='geckoboard'
			company='Geckoboard'
			role='Designer &amp; Developer (Freelance)'
			logo='<img src="/assets/images/companies/logo-geckoboard.png" alt="Geckoboard logo" />'
			dates='2018'
			content='
			<p class="job__intro">
				Geckoboard produces an always-on TV dashboard that can display high level performance metrics for businesses.
			</p>
			<p>
				 The data can be pulled from several sources including Zendesk, Salesforce, Google Analytics and several social media platforms.
			</p>
			<p>
				The marketing site is designed to drive sign-ups through optimised landing pages which are either part of campaigns that are aimed at specific use cases such as customer service, or pages that target popular keywords. Also the site contains a wealth of thought-leadership content.
			</p>
			<p>
				I was bought in to design and develop the landing pages, and to further optimise existing pages on the back of information gleaned from user testing. Working with beautifully produced illustrations from commissioned illustrators, and in-house product owners and copywriters, I designed the page UI in the interest of turning visitors into signups.
			</p>
			<p>
				I also built the pages into the website, using Siteleaf as the CMS and Liquid as the templating language.
			</p>
			'
			chartlabels='
				["Design", "Development"]
			'
			chartdata='
				[40, 60]
			'
			tasks='
				<li><span>Designing page UI</span></li>
				<li><span>Developing templates and components</span></li>
				<li><span>Helping facilitate user testing</span></li>
			'
			%}



		</div>
	</div>

	<!--
	<div class="row">
		<div class="panel__foot">
		</div>
	</div>
	-->

</section>