<div name="intro" id="intro" class="panel panel-intro">
	<div class="row">
		<div class="cp intro">
			<div class="intro__inner">
				<div class="intro__statement">
					London based web designer and <span class="nobreak">front-end</span> developer currently available for hire
				</div>
				<div class="intro__links">
					<a href="mailto:barry@br-web.io">email</a>
					<span>/</span>
					<a title="CV 1.2mb" href="http://br-web.io/cv.pdf" target="_blank" title="cv.pdf 42kb">CV (pdf)</a>
					<span>/</span>
					<a href="https://www.linkedin.com/in/br-web/" target="_blank
					">LinkedIn</a>
				</div>
			</div>
		</div>
	</div>
</div>