<section id="contact" class="panel panel-snippet panel-snippet--contact" id="contact">
	<h2 class="sr-only">Contact information</h2>
	<div class="panel__inner">
	<div class="row">
		<div class="snippet">
				<h3 class="snippet__title">
					Feel free to get in touch.
				</h3>
				<div class="snippet__links">
					<a href="mailto:barry@br-web.io">email</a>
					<a title="CV 1.2mb" href="http://br-web.io/cv.pdf" target="_blank" title="cv.pdf 42kb">CV (pdf)</a>
					<a href="https://www.linkedin.com/in/br-web/" target="_blank
					">LinkedIn</a>
				</div>
			</div>
	</div>
</div>
</section>