<div name="intro" id="intro" class="panel panel-intro">
	<div class="row">
		<div class="cp intro">
			<div class="intro__inner">
				<h1 class="intro__title">
					Hi, I'm Barry
				</h1>
				<div class="intro__statement">
					<p>
						I’m a designer and front-end developer specialising in website/web-app UI design and template/component builds. I've worked in various sectors from charities and fundraising organisations to commercial property, B2B and SaaS marketing.
					</p>
				</div>
				<div class="intro__links">
					<a href="mailto:barry@br-web.io">email</a>
					<a title="CV 1.2mb" href="http://br-web.io/cv.pdf" target="_blank" title="cv.pdf 42kb">CV (pdf)</a>
					<a href="https://www.linkedin.com/in/br-web/" target="_blank
					">LinkedIn</a>
				</div>

				<div class="intro__down-icon">
						<svg role="img" class="intro__down-icon__icon">
							<use xlink:href="assets/svg/icons.svg#icon-arrow"></use>
						</svg>
				</div>

			</div>
		</div>
	</div>
</div>