
<section id="work" class="panel panel-grid" role="contentinfo" aria-label="Latest work">
	<div class="cp grid-work">

			<div class="grid-work__inner">

				<div class="grid-work__grid">
					<div class="grid-work__items">
						<div class="grid-work__items-grid">

							{% include page_digital-advertising.html %}
							{% include page_apartments-for-london.html %}
							{% include page_indigo-trust.html %}
							{% include page_data-viz.html %}
							{% include page_located.html %}
							{% include page_3-st-james-square.html %}
							{% include page_the-center-of-happiness.html %}
							{% include page_columbus-building.html %}
							{% include page_salesforce-tower.html %}
							{% include page_28-chancery-lane.html %}

							<div class="grid-work__item">
								<div class="cp coming-soon">
									<div class="coming-soon__inner">
										<span>More coming soon</span>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>

			</div>
		</div><!-- End grid -->
</section>