{% include home_work_index_grid_item.html
  image="home-grid_baf"
  image-alt="Become a Freelancer hero image"
  image-ext="jpg"
  title="Become a Freelancer"
  client="Personal"
  link="become-a-freelancer"
%}

{% include home_work_index_grid_item.html
  image="home-grid_cp"
  image-alt="Croydon Pride image of revellers at Pride parade"
  image-ext="jpg"
  title="Croydon Pride"
  client="Fat Beehive"
  link="croydon-prid"
%}

{% include home_work_index_grid_item.html
  image="home-grid_data-viz"
  image-alt="Data Visualisation tips cards stacked"
  image-ext="png"
  title="Data Visualization Tips"
  client="Geckoboard"
  link="data-visualization-tips"
%}

{% include home_work_index_grid_item.html
  image="home-grid_indigo"
  image-alt="Indigo Trust mockups"
  image-ext="png"
  title="Indigo Trust"
  client="Helpful Digital"
  link="indigo-trust"
%}

{% include home_work_index_grid_item.html
  image="home-grid_afl"
  image-alt="Apartments for London website hero"
  image-ext="jpg"
  title="Apartments for London"
  client="Siren"
  link="apartments-for-london"
%}

{% include home_work_index_grid_item.html
  image="home-grid_da"
  image-alt="Digital Advertising logo"
  image-ext="png"
  title="Digital Advertising"
  client="Recipe"
  link="digital-advertising"
%}

{% include home_work_index_grid_item.html
  image="home-grid_located"
  image-alt="Located logo"
  image-ext="png"
  title="LocatED"
  client="Helpful Digital"
  link="located"
%}

{% include home_work_index_grid_item.html
  image="home-grid_3-sjs"
  image-alt="3 St James's Square logo"
  image-ext="png"
  title="3 St James&rsquo;s Square"
  client="Stepladder"
  link="3-st-james-square"
%}

{% include home_work_index_grid_item.html
  image="home-grid_center-of-happiness"
  image-alt="Graphic of woman working at desk"
  image-ext="png"
  title="The center of happiness"
  client="Geckoboard"
  link="the-center-of-happiness"
%}

{% include home_work_index_grid_item.html
  image="home-grid_columbus-building"
  image-alt="aerial view of the thames with a boat sailing across"
  image-ext="jpg"
  title="Columbus Building"
  client="Stepladder"
  link="the-columbus-building"
%}

{% include home_work_index_grid_item.html
  image="home-grid_salesforce-tower"
  image-alt="Photo of exterior of Salesforce Tower"
  image-ext="jpg"
  title="Salesforce tower"
  client="Stepladder"
  link="salesforce-tower"
%}

{% include home_work_index_grid_item.html
  image="home-grid_28-chancery-lane"
  image-alt="Man smiling with the text Midtown Originals"
  image-ext="jpg"
  title="28 Chancery Lane"
  client="Stepladder"
  link="28-chancery-lane/"
%}