<section id="about" class="panel panel-about" role="contentinfo" aria-label="About me">
	<div class="cp about">
	<div class="row">
		<div class="panel__inner">

				<div class="about__profile">
					<div class="about__profile-pic">
						<img src="/assets/images/profile.jpg" srcset="/assets/images/profile@2x.jpg 2x" alt="Photo of me">
					</div>
				</div>
				<div class="about__main-body">
					<div class="about__snippet">
						<p>
							I'm a creative minded designer and developer who is crazy about the user interface, and how it’s built.
						</p>
					</div>
					<div class="about__statement">
						<p>
							I've worked within a variety of sectors ranging from fashion to commercial property to government and charity.
						</p>
						<p>
							<strong>I take a proactive approach when taking on a project</strong>, and ask myself and others the relevant questions. I think about who the users are, who the client is and where their expectations lie. I think in a subjective user-centred way.
						</p>
						<p>
						<button class="button about__readmore">
							<div class="button__inner">
								<span>
									Read more
								</span>
								<svg class="button__icon button__icon--down">
									<use xlink:href="#arrow" />
								</svg>
							</div>
						</button>
						</p>
						<div class="about__more">
							<p>
								Did I already say I&rsquo;m crazy about web interfaces? And I love designing them. <strong>I like to use core aspects of design such as colour, shapes, typography, white-space and animation</strong> as tools to create structure, meaning and sense of place.
							</p>
							<p>
								<strong>I live and breathe CSS and javascript</strong>. I believe a well designed CSS structure and using SASS and a methodology like BEM is vital for a website or app. I stay up to date with development trends as much as I can.
							</p>
							<p>
								<strong>I have a solid understanding of SEO and accessibility.</strong> To help the website reach as many people as possible – whether disabled, partially sighted, non-sighted, non-human.
							</p>
							<p>
								<strong>So what inspires me?</strong> It&rsquo;s often said that good design goes un-noticed, and bad design stands out like a sore thumb. Well like everyone else, I get frustrated at badly designed interfaces when I use them in day-to-day life. In fact I go out of my way to not use a website or app if the interface is badly designed, even if I do like the brand or product.
							</p>
							<p>
								In our fast paced and on-demand world we don&rsquo;t use interfaces to be impressed by good design, but to do a specific thing. An interface that does what I ask of it in a painless and comfortable way is what inspires me. I&rsquo;m less inspired by the latest web design trends that are superficial and have no utility. Every element in a design should have a reason to exist. My mentality is often less is more. On the other hand, if more means adding an element to make an interaction more usable, then I&rsquo;m all for it.
							</p>
						</div>
						
					</div>

				</div>

				<div class="about__sidebar">

					<div class="about__abilities">
					<h3 class="about__abilities-title">Skillset</h3>
					<ul>
						<li><span>HTML/(S)CSS &amp; LESS</span></li>
						<li><span>JavaScript – Vanilla, ES6, jQuery</span></li>
						<li><span>Bootstrap</span></li>
						<li><span>WordPress</span></li>
						<li><span>Jekyll</span></li>
						<li><span>Siteleaf</span></li>
						<li><span>Webpack</span></li>
						<li><span>Grunt</span></li>
						<li><span>Illustrator</span></li>
						<li><span>Sketch</span></li>
						<li><span>Photoshop</span></li>
						<li><span>Indesign</span></li>
					</ul>
					<h3 class="about__abilities-title">Currently reading up on</h3>
					<ul>
						<li><span>Vue.js</span></li>
					</ul>
				</div>

				<blockquote class="about__quote">
					<div class="about__quotemark">&ldquo;</div>
					<span>I like to use core aspects of design such as colour, shapes, typography, white-space and transitions</span>
				</blockquote>

				</div>

		</div>

		</div>
	</div>
</section>