<div class="cp job">

			<div class="job__inner row">

					<div class="job__profile">
						<div class="job__logo">
							{{ include.logo }}
						</div>
						<div class="job__details">
							<h3 class="job__details__company">{{ include.company }}</h3>
							<p class="job__details__role">
								{{ include.role }}
							</p>
							<p class="job__details__date">
								{{ include.dates }}
							</p>
						</div>
					</div>

					<div class="job__main-body">
						<h2 class="sr-only">{{ include.company }}</h2>
						<div class="job__about">
							{{ include.content }}
						</div>
					</div>



					<div class="job__resp">
					

						<div class="job__tasks">
							<h3 class="job__tasks-title">Tasks</h3>
							<ul>
								{{ include.tasks }}
							</ul>
						</div>


					</div>


			</div>


			<div class="job__arrows job__arrows--prev" tabindex="0">
				<svg class="button__icon button__icon--left">
					<use xlink:href="#arrow" />
				</svg>
			</div>
			<div class="job__arrows job__arrows--next" tabindex="0">
				<svg class="button__icon button__icon--right">
					<use xlink:href="#arrow" />
				</svg>
			</div>

		</div>