<div class="menu js-menu">
	<div class="row">
		<nav class="cp main-menu">
			<ul class="main-menu__list">
				<li><a href="/">Home</a></li>
				<li><a href="/digital-advertising/">Digital Advertising</a></li>
				<li><a href="/apartments-for-london/">Apartments for London</a></li>
				<li><a href="/indigo-trust/">Indigo Trust</a></li>
				<li><a href="/data-visualization-tips/">Data Visualization Tips</a></li>
				<li><a href="/the-center-of-happiness/">The Center of Happiness</a></li>
				<li><a href="/located/">LocatED</a></li>
				<li><a href="/3-st-james-square/">3 St James's Square</a></li>
				<li><a href="/the-columbus-building/">The Columbus Building</a></li>
				<li><a href="/salesforce-tower/">Salesforce Tower</a></li>
				<li><a href="/28-chancery-lane/">28 Chancery Lane</a></li>
			</ul>
		</nav>
	</div>
</div>