<div class="menu js-menu">
	<div class="row">
		<nav class="cp main-menu">
			<ul class="main-menu__list">
				<li><a href="{{ site.baseurl }}/">Home</a></li>
				<li><a href="{{ site.baseurl }}/digital-advertising/">Digital Advertising</a></li>
				<li><a href="{{ site.baseurl }}/apartments-for-london/">Apartments for London</a></li>
				<li><a href="{{ site.baseurl }}/indigo-trust/">Indigo Trust</a></li>
				<li><a href="{{ site.baseurl }}/data-visualization-tips/">Data Visualization Tips</a></li>
				<li><a href="{{ site.baseurl }}/the-center-of-happiness/">The Center of Happiness</a></li>
				<li><a href="{{ site.baseurl }}/located/">LocatED</a></li>
				<li><a href="{{ site.baseurl }}/3-st-james-square/">3 St James's Square</a></li>
				<li><a href="{{ site.baseurl }}/the-columbus-building/">The Columbus Building</a></li>
				<li><a href="{{ site.baseurl }}/salesforce-tower/">Salesforce Tower</a></li>
				<li><a href="{{ site.baseurl }}/28-chancery-lane/">28 Chancery Lane</a></li>
			</ul>
		</nav>
	</div>
</div>