{% if page.layout == 'home' %}
   
{% include grid-item.html
	image="home-grid_3-sjs"
	image-alt="3 St James's Square logo"
	image-ext="png"
	title="3 St James&rsquo;s Square"
	intro="Website build on premium office development in St James&rsquo;s, London."
	client="Stepladder"
	link="/3-st-james-square/"
	description="
	<p>
		At Stepladder, I worked with graphic designer Elena Manfredi who also developed the brand and printed material to produce this beautiful monotone website for the prime office development in London, 3 St James&rsquo;s Square.
	</p>
	"
%}

{% else %}

{% include work-item.html
	bgcolor="gray"
	title="3 St James&rsquo;s Square"
	intro="Website build on premium office development in St James&rsquo;s, London."
	client="Stepladder"
	link="3-st-james-square.html"
	description="
	<p>
		At Stepladder, I worked with graphic designer Elena Manfredi who also developed the brand and printed material to produce this beautiful monotone website for the prime office development in London, 3 St James&rsquo;s Square.
	</p>
	"
	banner-image="sjs-banner.jpg"
	banner-image-alt="Brick wall and some pipes in local area"
	banner-image-position="center"
	content-main="
		<img src='/assets/images/projects/sjs-home.jpg' alt='homepage' />
		<img class='devices devices--white-bg' src='/assets/images/projects/sjs-devices.jpg' alt='as it looks on devices' />
		<img src='/assets/images/projects/sjs-birch.jpg' alt='Birch trees' />
		<div class='work-item__main-snippet'>
			<p>
				The black and white branding reflects the use of European Birch used in the building reception area.
			</p>
		</div>
		<img src='/assets/images/projects/sjs-desktop-1.jpg' alt='building page' />
		<img src='/assets/images/projects/sjs-desktop-2.jpg' alt='gallery page' />
		<img class='devices devices--white-bg' src='/assets/images/projects/sjs-devices-2.jpg' alt='as it looks on devices' />
		<img src='/assets/images/projects/sjs-desktop-3.jpg' alt='plans page' />
	"
	next-item-link="<a href='/the-columbus-building/'>The Columbus Building</a>"
%}

{% endif %}

