{% if page.layout == 'home' %}
   
{% include grid-item.html
	image="home-grid_afl"
	image-alt="Apartments for London website hero"
	image-ext="jpg"
	title="Apartments for London"
	intro="Marketing website design for Apartments for London. A startup which plans to build affordable modular apartments in London."
	client="Siren"
	link="/apartments-for-london/"
%}

{% else %}

{% include work-item.html
	bgcolor="gray"
	image="thumbs-afl.png"
	image-alt="Apartments for London"
	title="Apartments for London"
	intro="Marketing website design for Apartments for London. A startup which plans to build affordable modular apartments in London."
	client="Siren"
	link="apartments-for-london/"
	description="
		<p>
			The company were anxious to move on from their previous website which was nothing more than a modified WordPress theme, and did nothing to shake the negative stereotypes of badly built prefabs. They wanted a website to reflect the socially and environmentally sound modular apartments which provide affordable rentals for public sector workers and young professionals.
		</p>
	"
	content-main="
		<img src='/assets/images/projects/afl-desktop-1.jpg' alt='homepage' />
		<div class='work-item__main-snippet'>
			<p>
				There was a number of key points that the client wanted to emphasise about the modular housing philosophy. Mainly to provide truly affordable and good quality rental accommodation for public sector workers young professionals. 
			</p>
		</div>
		<img src='/assets/images/projects/afl-desktop-2.jpg' alt='homepage' />
		<div class='work-item__main-snippet'>
			<p>
				Also the ethical properties of this type of housing. Fast delivery, efficient construction and optimal materials used providing impressive environmental performance.
			</p>
		</div>
		<img src='/assets/images/projects/afl-desktop-3.jpg' alt='News article' />
		<div class='work-item__main-snippet'>
			<p>
				Due to thought leadership being such an important aspect of the company, and the website being the primary communication platform for the company, Indigo were looking to vastly improve the reading experience of the hundreds of articles on their site. They also wanted to make the page more impactful to increase readership.
			</p>
		</div>
		<img src='/assets/images/projects/afl-desktop-4.jpg' alt='News article' />
	"
	next-item-link="<a href='/indigo-trust/'>Indigo Trust</a>"
%}

{% endif %}

