{% if page.layout == 'home' %}
   
{% include grid-item.html
	image="home-grid_da"
	image-alt="Digital Advertising logo"
	image-ext="png"
	title="Digital Advertising"
	intro="Web app build"
	client="Recipe"
	link="/digital-advertising/"
	description="
	<p>
		Advertising agency Recipe wanted to create a space for businesses looking for digital advertising to find suppliers, and those suppliers to find customers.
	</p>
	<p>
		We built a web app that provides comparison of price and other metrics matching customers with suppliers suited to their needs. At the same time allowing suppliers to create profiles where they can advertise their offerings.
	</p>
	<p>
		I worked with the visual designer, developer and project owner to define user journeys, refine UI elements and build initial prototypes. I also built the basic UI pattern library and CSS structure using BEM.
	</p>
	"
%}

{% else %}

{% include work-item.html
	bgcolor="white"
	title="Digital Advertising"
	intro="Web app template and component build"
	client="Recipe"
	link="/digital-advertising/"
	description="
	<p>
		Advertising agency Recipe wanted to create a space for businesses looking for digital advertising to find suppliers, and those suppliers to find customers.
	</p>
	<p>
		We built a web app that provides comparison of price and other metrics matching customers with suppliers suited to their needs. At the same time allowing suppliers to create profiles where they can advertise their offerings.
	</p>
	<p>
		I worked with the visual designer, developer and project owner to define user journeys, refine UI elements and build initial prototypes. I also built the basic UI pattern library and CSS structure using BEM.
	</p>
	"
	content-main="
		<img src='/assets/images/projects/da-homepage.jpg' alt='homepage' />
		<div class='work-item__main-snippet'>
			<p>
				The main call to action on the homepage is a series of questions that direct users to the content they need. Firstly, whether they are an advertiser or supplier. Subsequent questions filter the results which are presented on the results page.
			</p>
		</div>

		<img src='/assets/images/projects/da-desktop-1.jpg' alt='homepage' />

		<div class='work-item__main-snippet'>
			<p>
				The results listing allows advertisers to select suppliers and compare their offerings, as you can see below.
			</p>
		</div>

		<img src='/assets/images/projects/da-desktop-2.jpg' alt='Screenshots showing results listing' />

		<div class='work-item__main-snippet'>
			<p>
				Another section of the site is Insights where contributors can publish case studies and blog posts. There is also an extensive glossary explaining all the marketing and advertising terms you will come across.
			</p>
		</div>

		<img src='/assets/images/projects/da-devices-1.png' alt='Devices' />
		
	"
	next-item-link="<a href='/apartments-for-london/'>Apartments for London</a>"
%}

{% endif %}

