{% if page.layout == 'home' %}
   
{% include grid-item.html
	image="home-grid_located"
	image-alt="Located logo"
	image-ext="png"
	title="LocatED"
	intro="Website design and build for LocatED, so-called 'Britains biggest property start-up'"
	client="Helpful Digital"
	link="/located/"
	description=
	"
	<p>
		LocatED is a government owned property company tasked with finding sites for 500 new free schools by 2020.
	</p>
	<p>
		Our client the Department for Education wanted the site to provide public facing information and transparency and to market the company to landowners looking to sell their property. Strict brand guidelines were provided for us to adhere to.
	</p>
	"
%}

{% else %}

{% include work-item.html
	bgcolor="gray"
	title="LocatED"
	intro="Website design and build for LocatED, so-called 'Britains biggest property start-up'"
	client="Helpful Digital"
	link="located.html"
	description=
	"
	<p>
		LocatED is a government owned property company tasked with finding sites for 500 new free schools by 2020.
	</p>
	<p>
		Our client the Department for Education wanted the site to provide public facing information and transparency and to market the company to landowners looking to sell their property. Strict brand guidelines were provided for us to adhere to.
	</p>
	"
	content-main="
		<img src='/assets/images/projects/located-home.jpg' alt='homepage' />
		<img class='devices devices--gray2-bg' src='/assets/images/projects/located-devices-1.jpg' alt='as it looks on devices' />
		<img src='/assets/images/projects/located-desktop-1.jpg' alt='homepage' />
		<img src='/assets/images/projects/located-desktop-2.jpg' alt='building page' />
	"
	next-item-link="<a href='/salesforce-tower/'>Salesforce Tower</a>"
%}

{% endif %}