{% if page.layout == 'home' %}
   
{% include grid-item.html
	image="thumbs-salesforce.jpg"
	image-alt="Salesforce tower exterior"
	title="Salesforce tower"
	intro="Website build on iconic London building, the Salesforce formerly Heron Tower."
	client="Stepladder"
	link="salesforce-tower.html"
	description="
	<p>
		CBRE needed a brand new website for the rebranded Salesforce Tower.
	</p>
	<p>
		Like most commercial property projects the main focus was the floors for let. They also wanted the website to showcase the restaurants and bars, including Sushi Samba and Duck &amp; Waffle, and the general premium nature of the building reflected in the lobby and common areas.
	</p>"
%}

{% else %}

{% include work-item.html
	bgcolor="white"
	title="Salesforce tower"
	intro="Website build on iconic London building, the Salesforce formerly Heron Tower."
	client="Stepladder"
	link="salesforce-tower.html"
	description="
	<p>
		CBRE needed a brand new website for the rebranded Salesforce Tower.
	</p>
	<p>
		Like most commercial property projects the main focus was the floors for let. They also wanted the website to showcase the restaurants and bars, including Sushi Samba and Duck &amp; Waffle, and the general premium nature of the building reflected in the lobby and common areas.
	</p>"
	banner-image="salesforce-banner.jpg"
	banner-image-alt="Salesforce Tower interor"
	content-main="
		<img src='/assets/images/projects/salesforce-home.jpg' alt='homepage' />
		<img src='/assets/images/projects/salesforce-ext.jpg' alt='Exterior' />
		<img src='/assets/images/projects/salesforce-desktop-1.jpg' alt='External photo page at night' />
		<img src='/assets/images/projects/salesforce-desktop-2.jpg' alt='Restaurant amenity page' />
		<img src='/assets/images/projects/salesforce-desktop-3.jpg' alt='plans page' />
	"
	next-item-link="<a href='28-chancery-lane.html'>28 Chancery Lane</a>"
%}

{% endif %}

