<article class="cp work-item work-item--{{ include.bgcolor }}" role="contentinfo" aria-label="article">

	{% if include.banner-image %}
	<div class="work-item__banner">
		<img class="{{ include.banner-image-position | default: 'center-center' }}" src="../assets/images/projects/{{ include.banner-image }}" alt=""/>
	</div>
	{% endif %}
	<div class="work-item__title {% if include.banner-image %}image{% endif %}" 
	{% if include.title-bg-color %}style="background-color:{{ include.title-bg-color }}; color:{{ include.title-text-color }};"{% endif %}>
		<div class="row">
			<div class="work-item__title-inner">
				<h1 class="work-item__title-main">
					{{ include.title }}
					<span class="work-item__title-client">
						&nbsp;&nbsp;/&nbsp; {{ include.client }}
					</span>
				</h1>
			</div>
		</div>
	</div>

	<div class="panel panel-work-item-head">
		<div class="panel__inner">
			<div class="row">
			<div class="work-item__head">

				<div class="work-item__about">
						<div class="project-about__description">
							<p class="project-about__intro">
								{{ include.intro }}
							</p>
							{{ include.description }}
						</div>
				</div>
			</div><!-- end of head -->
			</div>
		</div>
	</div><!-- end panel --> 


	<div class="panel panel-work-item-main">
		<div class="row">
			<div class="work-item__main">
				{{ include.content-main }}
			</div>
		</div>
	</div>


	<div class="panel panel-work-item-pagination {% if include.bgcolor == 'gray' %}panel-work-item-pagination--bg-white{% endif %}">
		<div class="panel__inner">
		<div class="row">
			<div class="cp pagination">
				<div class="pagination__back">
					<a href="/index.html">Back to Homepage</a>
				</div>
				<div class="pagination__next-item">
					<span>Next Project &mdash;</span>
					{{ include.next-item-link }}
				</div>
			</div>
		</div>
		</div>
	</div>


</article>