<article class="cp work-item" role="contentinfo" aria-label="article">

	{% if include.banner-image %}
	<div class="panel panel-work-item-banner">
		<div class="work-item__banner">
			<img class="{{ include.banner-image-position | default: 'center-center' }}" src="../assets/images/projects/{{ include.banner-image }}" alt=""/>
		</div>
	</div>
	{% endif %}
	<header class="work-item__title {% if include.banner-image %}image{% endif %}" >
		<div class="row">
			<div class="work-item__title-inner">
				<h1 class="work-item__title-main">
					{{ include.title }}
				</h1>
				<span class="work-item__title-client">
					&nbsp;&nbsp;/&nbsp; {{ include.client }}
				</span>
			</div>
		</div>
	</header>

	<div class="panel panel-work-item-head" style="background-color:{{ include.bgcolor }}">
		<div class="row">
		<div class="work-item__head">

			<div class="work-item__about">
				<div class="cp project-about">
					<div class="project-about__metadata">
						<p class="project-about__intro">
							{{ include.intro }}
						</p>
					</div>
					<div class="project-about__description">
						{{ include.description }}
					</div>
				</div>
			</div>
		</div><!-- end of head -->
		</div>
	</div><!-- end panel --> 


	<div class="panel panel-work-item-main" style="background-color:{{ include.bgcolor }}">
		<div class="row">
			<div class="work-item__main">
				{{ include.content-main }}
			</div>
		</div>
	</div>


	<div class="panel panel-work-item-pagination">
		<div class="row">
			<div class="cp pagination">
				<div class="pagination__back">
					<a href="/index.html">Back to Homepage</a>
				</div>
				<div class="pagination__next-item">
					<span>Next Project &mdash;</span>
					{{ include.next-item-link }}
				</div>
			</div>
		</div>
	</div>


</article>