<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

<head>
  {% include head.html %}
</head>

  <body id="homepage">
    <header class="header">
        {% include header.html %}
    </header>

    
    <main role="main">
      {% include home_intro.html %}
		  {% include home_work_index.html %}
		  {% include home_about.html %}
		  {% include home_career.html %}
		  {% include home_contact.html %}
    </main>

    <footer>
        {% include footer.html %}
    </footer>

    {% include scripts.html %}


  </body>
</html>